/* rules common for narrow and wide screens */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: helvetica, sans-serif;
  background-color: lightgray;
}

header,
nav,
footer {
  padding: 1rem;
}

main {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-end: 1rem;
  border-block-end: grey 3px solid;
}

h1 {
  margin: 1rem;
  padding: 0.25rem;
}

h2 {
  margin: 0;
  padding: 0;
}

article {
  padding: 1rem;
  margin: 0.25rem;
  border: 1px solid grey;
  background-color: white;
}

img {
  display: block;
  width: 100%;
}

div.footergrid nav {
  padding: 0;
  margin: 0;
}

/* media query for wider screens */
@media screen and (min-width: 960px) {

  div.maingrid,
  div.footergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.maingrid article {
    flex-basis: 45%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  img {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

}
